h1  {
    font-size: 45px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
}

.hero-section {
  padding: 2rem;
  flex-direction: column;
}

.button {
    background-color: #1ea608;
    border: #1ea608;
    padding: 10px;
    margin: 30px;
    width: 20vh;
    color: white;
    font-size: 17px;
    border-radius: 15px ;
}

.img-Luis { 
    width: 350px;            
  height: auto;            
  border-radius: 300px;     
  margin-bottom: 1rem;  
}

/* Media query para celular */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100% !important;
    margin-bottom: 1rem;
    text-align: center;
  }

  .button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }

  .img-Luis {
    width: 120px;
  }
}
